.gitHubButton {
  box-sizing: border-box;
  color: #0f0f0f;
  background-color: #eff0f2;
  border-radius: 5px;
  padding: 4px 5px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-wrap: wrap;
  position: relative;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .gitHubButton {
    display: none;
  }
}


.gitHubButton:hover {
  background-color: #e5e5e5;
}

.gitHubLogo {
  height: 28px;
  width: 28px;
}