.darkNavbarColorModeToggle {
  background: #eff0f2;
  border-radius: 5px;
  height: 36px;
}

.darkNavbarColorModeToggle:hover {
  background: #e5e5e5;
}


@media (max-width: 768px) {
  .darkNavbarColorModeToggle {
    margin-right: 10px;
  }
}
