.floatingAiButton {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  gap: 3px;          
  position: fixed;  
  bottom: 30px;      
  right: 30px;       
  z-index: 1000;     
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;

}

@media (max-width: 768px) {
  .floatingAiButton {
    right: 20px;
  }
}

[data-theme="light"] .floatingAiButton {
  background-color: #212121;
  color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] .floatingAiButton {
  background-color: #F1F1f1;
  color: #000;
  box-shadow: 0 2px 6px rgba(205, 205, 205, 0.3)
}

.closeModalButton {
  color: #0f0f0f;
  background-color: #eff0f2;
  border-radius: 5px;
  padding: 2px 10px 2px 10px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  top: 20px;
  left: 20px;
  width: fit-content;
}

.closeModalButton:hover {
  background-color: #e5e5e5;
}