.askAIButton {
  color: #0f0f0f;
  background-color: #eff0f2;
  border-radius: 5px;
  padding: 4px 5px 4px 5px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  flex-wrap: wrap;
}

@media (max-width: 1000px) {
  .buttonText {
    display: none;
  }

  .askAIButton {
    margin-right: 0.3rem;
    padding: 6px 0.3rem 6px 0.3rem;
  }
}

@media (max-width: 1200px) {
  .buttonText {
    display: none;
  }
}

.askAIButton:hover {
  background-color: #e5e5e5;
}

.closeModalButton {
  color: #0f0f0f;
  background-color: #eff0f2;
  border-radius: 5px;
  padding: 2px 10px 2px 10px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  top: 20px;
  left: 20px;
  width: fit-content;
}

.closeModalButton:hover {
  background-color: #e5e5e5;
}
